<% if t.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(t.errors.count, "error") %> prohibited this story from being saved:</h2>
    <ul>
      <% t.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
