<h1>Editing Story</h1>

<%= render 'form', target: @story, map_asset: @story.map_asset %>

<br>

<%= link_to 'Show', @story, class: "btn btn-primary" %>
<%= link_to 'Back', stories_path, class: "btn btn-secondary" %>
