<h1>Stories</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Category</th>
      <th>Rating</th>
      <th>Stuff type</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @stories.each do |story| %>
      <%= render "shared/story_row", story: story %>
    <% end %>
  </tbody>
</table>
