<h1>Editing Survey</h1>

<%= render 'form', target: @survey %>

<div class="pt-4">
  <%= link_to 'Show', @survey, class: "btn btn-primary" %>
  <%= link_to 'Back', surveys_path, class: "btn btn-secondary" %>
</div>
